.footer {
  color: #0a0908;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.footer p {
  margin: 0.5rem 0;
  color: #333;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer p {
    margin: 0;
    font-size: 1.2rem;
  }

  .footer h3 {
    font-size: 1.2rem;
  }
}
